/* heroImage: */
/* Find My Teammate: */
font-family: AvenirNext-Bold;
font-size: 36px;
color: #FFFFFF;
/* find the best teamma: */
font-family: AvenirNext-Bold;
font-size: 14px;
color: #FFFFFF;
/* Rectangle 1: */
background: rgba(215,215,215,0.40);
border-radius: 8px;
/* I am : */
font-family: AvenirNext-Bold;
font-size: 18px;
color: #4A4A4A;
/* I want to find a  : */
font-family: AvenirNext-Bold;
font-size: 18px;
color: #4A4A4A;
/* menu bg: */
background: #FAFAFA;
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
border-radius: 2px;
/* Line: */
border: 1px solid rgba(0,0,0,0.12);
/* highlight: n
background: #EEEEEE;
/* Artist: */
font-family: .SFNSText-Regular;
font-size: 13.29px;
color: rgba(0,0,0,0.87);
line-height: 20px;
/* bounds: */
/* arrow drop up: */
opacity: 0.54;
/* Software Engeering: */
font-family: .SFNSText-Regular;
font-size: 13.29px;
color: rgba(0,0,0,0.87);
line-height: 20px;
/* menu bg: */
background: #FAFAFA;
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
border-radius: 2px;
/* Line: */
border: 1px solid rgba(0,0,0,0.12);
/* highlight: */
background: #EEEEEE;
/* Artist: */
font-family: .SFNSText-Regular;
font-size: 13.29px;
color: rgba(0,0,0,0.87);
line-height: 20px;
/* bounds: */
/* arrow drop up: */
opacity: 0.54;
/* Software Engeering: */
font-family: .SFNSText-Regular;
font-size: 13.29px;
color: rgba(0,0,0,0.87);
line-height: 20px;


/* Rectangle 14: */
background: #FFFFFF;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);


/* Log In: */
font-family: AvenirNext-Medium;
font-size: 16px;
color: #4A4A4A;


/* Sign Up: */
font-family: AvenirNext-Medium;
font-size: 16px;
color: #4A4A4A;


/* Line: */
opacity: 0.69;
border: 1px solid #979797;


/* Line: */
opacity: 0.69;
border: 1px solid #979797;


/* Polygon 1: */
background: #D8D8D8;
border: 1px solid #979797;