/* heroImage: */
/* Find My Teammate: */
font-family: AvenirNext-Bold;
font-size: 36px;
color: #FFFFFF;
/* find the best teamma: */
font-family: AvenirNext-Bold;
font-size: 14px;
color: #FFFFFF;
/* Rectangle 1: */
background: rgba(215,215,215,0.40);
border-radius: 8px;
/* I am : */
font-family: AvenirNext-Bold;
font-size: 18px;
color: #4A4A4A;
/* I want to find a  : */
font-family: AvenirNext-Bold;
font-size: 18px;
color: #4A4A4A;
/* menu bg: */
background: #FAFAFA;
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
border-radius: 2px;
/* Line: */
border: 1px solid rgba(0,0,0,0.12);
/* highlight: */
background: #EEEEEE;
/* Artist: */
font-family: .SFNSText-Regular;
font-size: 13.29px;
color: rgba(0,0,0,0.87);
line-height: 20px;
/* bounds: */
/* arrow drop up: */
opacity: 0.54;
/* Software Engeering: */
font-family: .SFNSText-Regular;
font-size: 13.29px;
color: rgba(0,0,0,0.87);
line-height: 20px;
/* menu bg: */
background: #FAFAFA;
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
border-radius: 2px;
/* Line: */
border: 1px solid rgba(0,0,0,0.12);
/* highlight: */
background: #EEEEEE;
/* Artist: */
font-family: .SFNSText-Regular;
font-size: 13.29px;
color: rgba(0,0,0,0.87);
line-height: 20px;
/* bounds: */
/* arrow drop up: */
opacity: 0.54;
/* Software Engeering: */
font-family: .SFNSText-Regular;
font-size: 13.29px;
color: rgba(0,0,0,0.87);
line-height: 20px;


/* Rectangle 8: */
background: rgba(255,255,255,0.85);
border-radius: 8px;
/* Form / Checkbox (Checked): */
/* Form / Checkbox (Checked): */
/* Form / Checkbox (Checked): */
/* Form / Checkbox (Checked): */
/* Form / Checkbox (Checked): */
/* Form / Legend: */
/* Form / Legend: */
/* Form / Checkbox Unchecked: */
/* Form / Checkbox Unchecked: */
/* Form / Checkbox Unchecked: */
/* Form / Checkbox Unchecked: */
/* Tell us more about t: */
font-family: AvenirNext-Bold;
font-size: 24px;
color: #4A4A4A;